@import 'normalize';
@import 'highlight';

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* Thanks, GitHub! */
}

h1, h2, h3 {
    font-weight: 500;
}

h4, h5, h6 {
    font-weight: 600;
}

pre, code {
    font-family: "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
}

code {
    font-size: 85%;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0;
}

footer {
    margin: 40px 0;
    color: #999;

    a {
        color: #999;
        text-decoration: none;
    }

    svg {
        width: 0.9em;
    }
}

.container {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.site-header h1 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 a {
    text-decoration: none;
    color: black;
}

.banner {
    width: 100%;
    height: 340px;
    max-width: 880px;
    max-height: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;

    @media screen and (max-width: 880px) {
        border-radius: 0;
    }
}

article {
    h2, h3, h4, h5, h6 {
        margin-top: 1.2em;
        margin-bottom: 0.6em;
    }

    header {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    header h1 {
        margin-bottom: 5px;

        .list & {
            font-size: 24px;
        }
    }

    p, ol, ul {
        line-height: 1.5;

        code {
            background-color: #f5f5f5;
            padding: 0.2em 0;
            border-radius: 3px;
            white-space: nowrap;

            &::before, &::after {
                content: "\00a0"; // non-breaking space
                letter-spacing: -0.2em;
                display: inline-block; // to remove underlining from links
            }
        }
    }

    li {
        margin-bottom: 0.4em;
    }

    img, video {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 0 1em;
        border-left: 0.25em solid #dfe2e5;
    }

    table {
        border-collapse: collapse;

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;

            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }

        th, td {
            padding: 6px 13px;
            border: 1px solid #dfe2e5;
        }

        th {
            font-weight: 600;
        }
    }

    nav {
        background-color: #eee;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 3px;

        ul {
            padding-left: 29px;
        }

        &, ul {
            line-height: 1.5em;
        }

        li {
            font-weight: normal;
            margin-bottom: 0;
            color: #444;
        }

        a {
            text-decoration: none;
            color: #0645ad;
        }

        & > ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        & > ul > li > ul {
            margin: 0;
            padding: 0;
        }

        & > ul > li > ul > li {
            font-weight: 600;
            margin-bottom: 0.5em;
            list-style-type: none;
        }
    }

    .chroma {
        line-height: 1.25;
        margin: 1em 0;
        padding: 0.7em 25px;
        background-color: #272822;
        border-radius: 4px;
        overflow-x: auto;
        color: #f8f8f2;
    }

    .draft-note {
        color: red;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .latex {
        color: transparent;
        position: relative;
        overflow-x: auto;

        & * {
            color: initial;
        }

        .loading {
            color: #999;
            font-style: italic;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .MathJax_Preview ~ .loading {
            display: none;
        }
    }

    .desmos-container {
        $desmos-border-color: #ccc;

        position: relative;
        border: 1px solid $desmos-border-color;

        .desmos {
            height: 400px;
        }

        .desmos-reset {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 2px 6px;
            background-color: white;
            text-decoration: none;
            color: black;
            border: solid $desmos-border-color;
            border-width: 1px 0 0 1px;
        }
    }

    .threegraph {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    $w: 94vw;
    .full-width-container {
        width: 100%;
        position: relative;

        .full-width {
            position: relative;
            width: $w;
            left: calc(50% - #{$w / 2});
        }

        .columns > *:not(:first-child) {
            margin-left: 2vw;
        }
    }

    ul .full-width-container .full-width {
        left: calc(50% - #{$w / 2} - 20px);
    }

    .columns {
        display: flex;

        & > * {
            flex-grow: 1;
            flex-basis: 0;

            &:not(:first-child) {
                margin-left: 2%;
            }
        }
    }

    figure {
        margin: 0;

        figcaption {
            text-align: center;
            font-weight: bold;
        }
    }
}

.comments {
    hr {
        margin-top: 3em;
        margin-bottom: 1em;
    }
}

.aspect-square {
    position: relative;
    padding-bottom: 100%;
}

.aspect-4x3 {
    position: relative;
    padding-bottom: (3 / 4) * 100%;
}

.aspect-16x9 {
    position: relative;
    padding-bottom: (9 / 16) * 100%;
}

.aspect-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.drawing {
    text-align: center;
    overflow-x: auto;
    padding: 1em 0;

    span {
        display: inline-block;
    }

    img {
        max-width: none;
    }
}
