[submodule "ext/wasmaze"]
	path = ext/wasmaze
	url = https://github.com/bvisness/wasmaze.git
	branch = master
[submodule "ext/boggler"]
	path = ext/boggler
	url = https://github.com/bvisness/boggler.git
	branch = master
[submodule "ext/columns-concept"]
	path = ext/columns-concept
	url = https://github.com/bvisness/columns-concept.git
	branch = master
[submodule "ext/incremental"]
	path = ext/incremental
	url = https://github.com/bvisness/incremental.git
	branch = master
