{{ template "common.html" . }}

{{ define "common content" }}

<div class="list">
  {{ range .Articles }}
    <article>
      <header>
        <h1><a href="{{ absurl .Slug }}">{{ .Title }}</a></h1>
        <span class="post-details">
          <time datetime="{{ date "2006-01-02T15:04:05Z07:00" .Date }}" itemprop="datePublished">{{ date "January 2, 2006" .Date }}</time>
        </span>
      </header>        
      {{ .Description }}
    </article>
  {{ end }}
</div>

{{ end }}
