table {
  border-collapse: collapse;
  border-style: hidden;
}

td,
th {
  padding: var(--spacing-2);
  border: 1px solid var(--border-color);
}

.sticky-table th {
  position: sticky;
  top: 0;
  background-color: var(--body-background);
  z-index: 1;
}

/* this is what we have to do to get borders on sticky table headers?? */
.sticky-table th::after {
  content: '';
  box-shadow: 0px 1px var(--border-color);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.instrs .instr {
  height: 1rem;
  /* background-color: var(--text-color); */
  border-radius: 2px;
}

.timing-demo .timer-playhead {
  border: 1rem solid transparent;
  border-width: 0.5rem 0.3rem;
  border-top-color: var(--border-color);
  position: absolute;
  margin-left: -0.3rem;
  margin-top: -0.5rem;
}

.timing-demo .timer-playhead-spacer {
  height: 0.5rem;
}

.timing-demo .timer-bar {
  height: 0.4rem;
}

.timing-demo.hide-server #timing-server-cover {
  opacity: 1;
}

.timing-demo.hide-server .timer-bar {
  background-color: var(--border-color);
}

.timing-demo.hide-cpu #cpu-cover {
  opacity: 1;
}

.timing-demo.hide-cpu .timer-bar {
  background-color: var(--border-color);
}