{{ template "common.html" . }}

{{ define "title" }}About{{ end }}

{{ define "common content" }}
{{ apply markdown }}
  I am the following things, in no particular order:

  - [Handmade Network](https://handmade.network/) lead

  - WebAssembly engineer on SpiderMonkey at Mozilla
  
  - Mentor for [FIRST Robotics Competition team 2175, The Fighting Calculators](https://fightingcalculators.org/)

  - Co-author of a couple [papers](/papers/) for the COMAP Mathematical Contest in Modeling in college

  I am on the internet:

  - Email: [ben@bvisness.me](mailto:ben@bvisness.me)

  - GitHub: [bvisness](https://github.com/bvisness/)

  - Twitter: [its_bvisness](https://twitter.com/its_bvisness)

  - Mastodon: [@bvisness@mastodon.gamedev.place](https://mastodon.gamedev.place/@bvisness)

{{ end }}
{{ end }}
