{{ template "common.html" . }}

{{ define "title" }}Papers{{ end }}

{{ define "common content" }}
{{ apply markdown }}
    I participated in the COMAP Mathematical Contest in Modeling in 2015 and 2016, along with Phil Gibbens and Tyler Miller.

    ## 2015

    This year had us develop a mathematical model to help find planes that were lost at sea. This paper won us the Outstanding Winner designation (the highest possible level of achievement). It also won us the Frank Giordano award (for excellence in the modeling process), and the MAA Award.

    [Download the paper here.](/papers/COMAP2015.pdf)

    ## 2016

    This year had us developing a mathematical model that would help a private company get into the business of space debris removal. This paper won us an Honorable Mention designation.

    [Download the paper here.](/papers/COMAP2016.pdf)
{{ end }}
{{ end }}
